@import "src/index";


.event1, .event2 {
  background-color:$back ;
  margin: $indent;
  box-shadow: $shadow;
  width: 330px;
  float: left;
  img {
    @include size($w:100%, $h:120px);
    object-fit: cover;
  }
  h4 {
    @extend %zero_indents;
    border: $markup;
  }
  .desc {
    padding: $indent*2;
  }
}
.event1 {
  width: 95%;
}
.event2 {
  width: 400px;
}
.event1:hover, .event2:hover {
  @extend %hover_back
}

.desc , .desc h4{
  text-align: left;
  border: $markup;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding:$indent/2
}
