@import "src/index";


.event1, .event2 {
  margin: $indent;
  box-shadow: $shadow;
  width: 330px;
  float: left;
  img {
    @include size($w:100%, $h:100px);
    object-fit: cover;
  }
  h4 {
    @extend %zero_indents;
    border: $markup;
  }
  .desc {
    padding: $indent/2;
  }
}
.event1 {
  width: 95%;
}
.event2 {
  width: 330px;
}
.event1:hover, .event2:hover {
  background-color: #f3eded;
}

.desc , .desc h4{
  text-align: left;
  border: $markup;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
