@import "src/index";


.children {
  margin-left:$indent*4;
  display: flex;
  .content {
    padding: $indent*2 $indent*4;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 520px 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: "name name" "act photo";
  }
  .name {
    display: flex;
    grid-area: name;
  }
  h2 {
    @extend %zero_indents
  }
}

.right{
  display: flex;
}

.ava {
  @include size($w:40px, $h:40px);
  border: $markup;
  border-radius: 20px;
  text-align: center;
  background: #FF4459;
  padding: 0;
  margin-left: $indent;
  margin-right: $indent;
}

.house{
  @extend %icon
}

.register {
  @include button($w:200px);
}

.actions{
  display: grid;
  grid-template-columns: 430px 330px 680px;
  grid-template-rows: 360px 360px;
  grid-template-areas: "achi requests courses" "g mentors events";
  grid-column-gap: 20px;

  button {
    display: inline-block;
    font-size: 30px;
    float: bottom;
  }
  button:active, button:focus {
    outline: none;
  }
}

.achievements{
  width: 430px;
  height: 320px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: achi;
}

.goals{
  width: 430px;
  height: 320px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: g;
}

.requests{
  display: grid;
  grid-template-rows: 160px 160px;
  grid-template-areas: "mR cR";
}

.myRequests{
  width: 330px;
  height: 160px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: mR;
}

.createRequests{
  width: 330px;
  height: 140px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: cR;
}

.mentors{
  width: 330px;
  height: 320px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: mentors;
}

.courses{
  width: 680px;
  height: 360px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: courses;
}

.events{
  width: 680px;
  height: 360px;
  background: #FF4459;
  border-radius: 5px;
  margin: $indent;
  color: white;
  grid-area: events;
}