@import "src/index";

.content {
  border: $markup;
  position: absolute;
  left:10px;
  top: 80px;
  text-align: center;
  width: 60%;
  span, img {
    display: inline-block;
  }
  h4 {
    @extend %zero_indents;
  }
  img {
    width: 300px;
    object-fit: cover;
  }
}