@import "src/index";

.content {
  border: $markup;
  padding: $indent/2;
  @include size($w:75%, $h:unset);
  text-align: center;
  span, img {
    display: inline-block;
  }
  h3 {

  }
  img {
    width: 700px;
    object-fit: cover;
  }
}