@import "src/index";


.event{
  padding: $indent*2 $indent*10 ;
  margin-top: 80px;
  display: flex;
  justify-content: $spb;
  .img img{
    width: 900px;
    height: 300px;
    object-fit: cover;
  }
  .img {
    margin: $indent;
    flex-grow: 2;
    text-align: center;
  }
}
.desc{
  box-shadow: $shadow;
  margin:0 $indent*10;
  padding:  $indent*2  $indent;
}