@import "src/index";


.event1, .event2 {
  margin: $indent/2;
  box-shadow: $shadow;
  width: 330px;
  img {
    @include size($w:100%, $h:100px);
    object-fit: cover;
  }
  h4 {
    @extend %zero_indents;
    border: $markup;
  }
  .desc {
    padding: $indent/2;
  }
}
.event1 {
  width: 95%;
  float: top;
}
.event2 {
  width: 330px;
  float: left;
}
.event:hover {
  background-color: #f3eded;
}

.desc , .desc h5{
  text-align: left;
  border: $markup;
  overflow: hidden;
  white-space: nowrap; /* Запрещаем перенос строк */
  text-overflow: ellipsis; /* Добавляем многоточие */
}
