@import "src/index";

.gallery{
  border: $markup;
  overflow: auto;
  text-align: center;
  @include size($w:360px, $h:80%);
  min-height: 360px;
  .heading {
    letter-spacing: 0.3em;
    @extend %zero_indents
  }
}
