@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

//colors
$color: #000000; //text color
$blocks-back: #FFFEFE; //background for blocks
$back: #ffffff;

// sizes
$heading-size: 48px; //headings
$radius: 10px; //blocks border radius
$indent: 3px; //mini-indents for icons and text in blocks

// shadow and borders
$markup: 1px #000000 dotted; //for markup layout 1px #000000 dotted
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

//flex settings
$spb: space-between; //reduction
$spe: space-evenly; //reduction

//img
$background_modal: 'background_modal.svg';

//font-family
$family:'Montserrat', sans-serif;

//body
body {
  background-color: $back;
  margin: 0;
  font-family: $family;
  font-size: 1.2em;
  color: $color
}

@mixin for_markup ($w:100%, $h:60px) {
  border: $markup;
  width: $w; height: $h;
}

%button {
  background-color: #FF4459;
  height: 40px;
  width: 140px;
  margin: 10px;
  border-radius: $radius;
  color: #FFFEFE;
  border: none;
}