@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

//colors
$color: #000000; //text color
$blocks-back: #FFFEFE; //background for blocks
$back: #ffffff;
$pink: #FF4459;

// sizes
$heading-size: 48px; //headings
$radius: 10px; //blocks border radius
$indent: 10px; //mini-indents for icons and text in blocks

// shadow and borders
$markup: 1px #000000 dotted; //for markup layout 1px #000000 dotted
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

//flex settings
$spb: space-between; //reduction
$spe: space-evenly; //reduction

//img
$background_modal: 'background_modal.svg';

//font-family
$family: 'Montserrat', sans-serif;

//body
body {
  background-color: $back;
  margin: 0;
  font-family: $family;
  font-size: 1.5em;
  color: $color
}
html, body {
  scrollbar-color: #458245 #714826;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;  /* толщина */
}

// size of block
@mixin size($w:0, $h:0) {
  width: $w;
  height: $h;
}

// init pink button
@mixin button($w:140px) {
  background-color: #FF4459;
  height: 40px;
  width: $w;
  margin: $indent;
  border-radius: $radius;
  color: #FFFEFE;
  border: none;
  font-family: $family;
  font-weight: bold;
}

// button with icon
%icon {
  @include size($w:40px, $h:40px);
  border: $markup;
  text-align: center;
  color: $pink;
  background: none;
  padding: 0;
  i {
    font-size: 35px;
  }
  margin: $indent;
}

// make indents = 0
%zero_indents {
  padding: 0;
  margin: 0;
}

// flex settings
@mixin flex-settings($j:right) {
  display: flex;
  justify-content: $j;
}

// absolute blocks
@mixin sample($t:0,$r:unset,$l:0,$p:absolute, $z:0) {
  position: $p;
  left: $l;
  top: $t;
  right: $r;
  z-index: $z;
}
