@import "src/index";

.header {
  border: $markup;
  @include size($w:100%, $h:60px);
  @include sample($l:0, $t:0, $p: fixed, $z:2);
  @include flex-settings();
  box-shadow: $shadow;
  background-color: $back;
  div {
    border: $markup;
  }
  form {
    display: flex;
  }

}
.register {
  @include button($w:200px);
}

.login {
  @include button();
}
.person {
  @extend %icon
}